$backgroundImage: "/images/login-background.jpg";

.container {
	overflow: hidden;
	display: flex;
	flex-direction: column;
	text-align: center;
	height: 100vh;
}

.content {
	margin-bottom: 10vw;
	width: 100%;
	position: relative;
	min-height: 100vh;
	box-sizing: border-box;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	padding: 80px 40px;
	height: 100%;
}

.bg-image {
	background-image: url(#{$backgroundImage});
	height: 100%;
	width: 100%;
	background-size: cover;
	position: absolute;
	z-index: -1;
}

.call-to-action {
	max-width: 650px;
	display: flex;
	flex-direction: column;
	width: 100%;
	// justify-content: center;
	// margin-top: 0;
	// align-items: center;
	// text-align: center;
	// margin-right: auto;
	// margin-left: auto;
	// transition-timing-function: ease-out;
	// transition: opacity 0.2s;
}

.cta-logo {
	margin-bottom: 12px;
	max-width: 600px;
	min-height: 1px;
	width: 100%;
	display: block;
}

.cta-button {
	font-weight: bold;
	color: white;
	background-color: #0063e5;
	border: 1px solid transparent;
	margin-top: 12px;
	margin-bottom: 12px;
	width: 100%;
	letter-spacing: 1.5px;
	font-size: 18px;
	padding: 16.5px 0;
	border-radius: 4px;
	&:hover {
		background-color: #0483ee;
	}
}

.cta-logo2 {
	margin-bottom: 20px;
	max-width: 600px;
	display: inline-block;
	vertical-align: bottom;
}

.cta-description {
	background-color: var(--white);
	font-size: 1.1em;
	letter-spacing: 0.01rem;
	margin: 0 0 24px;
	line-height: 1.5;
}
