html {
	scroll-behavior: smooth;
}

* {
	box-sizing: border-box;
}

body {
	background-color: #040714;
	color: #f9f9f9;
	font-family: Avenir-Roman, sans-serif;
	margin: 0;
	padding: 0;
	/* Clamp is min, preferred, max - Used to clean up media query */
	font-size: clamp(14px, 15px, 16px);
}

a {
	color: #f9f9f9;
	text-decoration: none;
}

@import "./login";
